@font-face {
    font-family: 'fatbrushwkbold';
    src: url('fonts/fatbrushwk_2-webfont.woff') format('woff'),
         url('fonts/fatbrushwk_2-webfont.ttf') format('truetype'),
         url('fonts/fatbrushwk_2-webfont.woff2') format('woff2');

    font-weight: normal;
    font-style: normal;
}

.navbar-dark .navbar-nav .nav-link .active {
    color: rgba(255,255,255,1.0);
}

.navbar-brand {
  font-family: 'fatbrushwkbold';
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #007bff;
    background-color: #ffffff;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: #007bff;
}

/* smaller screens? */
#attractDiv {
  margin-top: 8%;
  margin-bottom: 3%;

}

#homepageLogo
 {
  font-family: 'fatbrushwkbold';
  text-align: center;
  font-size: 4.5rem;
}

#subpageLogo
 {
  font-family: 'fatbrushwkbold';
  text-align: center;
  font-size: 3rem;
}

#tagline
 {
  font-family: century-gothic, sans-serif;
  font-size: 1.3rem;
  margin-left: 10%;
  margin-right: 10%;
}

#calltoAction {
  margin-top: 5%;
}

#calltoActionButton {
  margin-top: 7%;
}

.articleDiv {
  margin-left: 6%;
  margin-right: 6%;
}

.instructionText {
  font-family: century-gothic, sans-serif;
  text-align: left;
  font-size: 1.1rem;
}


#firstSpeakerPage  {
  display: block;
}

#secondSpeakerPage {
  display: none;
}

#thirdSpeakerPage {
display: none;
}

#firstListenerPage  {
  display: block;
}

#secondListenerPage {
  display: none;
}

#thirdListenerPage {
display: none;
}








/* larger screens?  */
@media (min-width: 576px) {
  #attract {
    margin-top: 6%;
    margin-bottom: 2%;
  }
  #homepageLogo {
    font-size: 9rem;
  }
  #tagline {
    font-family: century-gothic, sans-serif;
    font-size: 1.5rem;
    margin-top: -1%;
  }
  #calltoAction {
    margin-top: 4%;
  }
  #calltoActionButton {
    /* margin: 3%; */
    margin-top: 2%;
  }
  #subpageLogo
   {
    font-family: 'fatbrushwkbold';
    text-align: center;
    font-size: 5rem;
  }
}



/* Muaz Style for Media Players */
audio, video {
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    vertical-align: top;
    width: 100%;
}
input {
    border: 1px solid #d9d9d9;
    border-radius: 1px;
    font-size: 2em;
    margin: .2em;
    width: 30%;
}
select {
    border: 1px solid #d9d9d9;
    border-radius: 1px;
    height: 50px;
    margin-left: 1em;
    margin-right: -12px;
    padding: 1.1em;
    vertical-align: 6px;
    width: 18%;
}
.setup {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    font-size: 102%;
    height: 47px;
    margin-left: -9px;
    margin-top: 8px;
    position: absolute;
}
p { padding: 1em; }
/* li {
    border-bottom: 1px solid rgb(189, 189, 189);
    border-left: 1px solid rgb(189, 189, 189);
    padding: .5em;
} */

ul {
    list-style: none;
}

.infoList:before {
    content: "+";
    margin-right: 4px;
}
