/* @font-face {
    font-family: 'fatbrushwkbold';
    src: url('fonts/fatbrushwk_2-webfont.woff') format('woff'),
         url('fonts/fatbrushwk_2-webfont.ttf') format('truetype'),
         url('fonts/fatbrushwk_2-webfont.woff2') format('woff2');

    font-weight: normal;
    font-style: normal;
} */

@font-face {
    font-family: 'fatbrushwkbold';
    src: url('fonts/fatbrushwk-webfont.woff') format('woff'),
         url('fonts/fatbrushwk-webfont.woff2') format('woff2'),
         url('fonts/FatBrushWK.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}



.navbar-dark .navbar-nav .nav-link .active {
    color: rgba(255,255,255,1.0);
}

.navbar-brand {
  font-family: 'fatbrushwkbold';
  /* font-family: flood-std, sans-serif; */
  /* font-family: 'Permanent Marker', cursive; */

}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #007bff;
    background-color: #ffffff;
    padding-left: 10px;
}

.navbar-dark .navbar-toggler {
    border-color: rgba(255,255,255,.3);
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: #007bff;
}

/* smaller screens? */
.attractDiv {
  margin-top: 20%;
  margin-bottom: 10%;
}

#homepageLogo
 {
  font-family: 'fatbrushwkbold';
  /* font-family: flood-std, sans-serif; */
  /* font-family: 'Permanent Marker', cursive; */
  text-align: center;
  font-size: 4.5rem;
}

.subpageLogo
 {
  font-family: 'fatbrushwkbold';
  /* font-family: flood-std, sans-serif; */
  /* font-family: 'Permanent Marker', cursive; */
  text-align: center;
  font-size: 3rem;
}

#homePageCallToAction {
  padding-bottom: 10%;
}

.homepageTagline
 {
  font-family: century-gothic, sans-serif;
  font-size: 1.3rem;
  margin-left: 10%;
  margin-right: 10%;
}

.calltoAction {
  margin-top: 10%;
  margin-bottom: 11%;
  text-align: center;
}

.calltoActionButton {
  margin-top: 7%;
}

.articleDiv {
  margin-left: 6%;
  margin-right: 6%;
}

.instructionText {
  font-family: century-gothic, sans-serif;
  text-align: center;
  font-size: 1.05rem;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: -2%;
}

#firstSpeakerPage  {
  /* margin-bottom: 20%; */
  display: block;
}

#secondSpeakerPage {
  display: none;
}

#thirdSpeakerPage {
display: none;
}


#firstListenerPage  {
  display: block;
}

#secondListenerPage {
  display: none;
  padding-bottom: 10%;
}

#thirdListenerPage {
display: none;
}

#inputForm {
  padding-left: 5%;
  padding-right: 5%;

}

.footer {
  /* display: block; */
  background-color: #F8F9FA;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-top: 40%;
  font-size: .80rem;
}

.infoList {
  /* content: "◾"; */
  margin-right: 4px;
  margin-bottom: 15px;
}

ul {
  padding-left: 2rem;
}

.aboutP {
  padding: 0em;
  text-align: left;
  font-family: century-gothic, sans-serif;
  font-size: 1.1rem;
}

#goHomeListenPageDiv {
  padding-bottom: 50%;
}

.centerText {
  text-align: center;
}

#uniqueURLText {
  font-size: .9rem;
}

#uniqueURLButton {
  padding-top: 10%;
  padding-bottom: 10%;
}

#broadcastingText {
  padding-bottom: 40%;
}

#selectDiv {
  margin-bottom: 50%;
}


#firstListenerPageDiv {
  margin-bottom: 20%;
}

#secondListenerPageDiv {
  margin-bottom: 20%;
}

#narrowButton {
  padding-left: 30%;
  padding-right: 20%;
}

#listenerMediaDiv {
  margin-bottom: 30%;
}

/* larger screens?  */
@media (min-width: 576px) {

  .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
      color: #007bff;
      background-color: #ffffff;
  }

  .navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
      color: #007bff;
  }

  #attract {
    margin-top: 6%;
    margin-bottom: 2%;
  }
  .attractDiv {
    margin-top: 10%;
    margin-bottom: 3%;
  }
  #homepageLogo {
    font-size: 8rem;
  }
  .homepageTagline {
    font-family: century-gothic, sans-serif;
    font-size: 1.5rem;
    margin-top: -1%;
  }
  .calltoAction {
    margin-bottom: 4%;
    padding-left: 15%;
    padding-right: 15%;
  }
  .calltoActionButton {
    /* margin: 3%; */
    margin-top: 2%;
  }

  #speakButton {
    margin-top: -5%;
  }

  #listenButton {
    margin-top: -5%;
  }
  .subpageLogo
   {
     font-family: 'fatbrushwkbold';
     /* font-family: flood-std, sans-serif; */
     /* font-family: 'Permanent Marker', cursive; */
    text-align: center;
    font-size: 5rem;
  }
  .footer {
    /* display: block; */
    background-color: #F8F9FA;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 10%;
    font-size: 1rem;
  }
  #inputForm {
    padding-left: 20%;
    padding-right: 20%;
  }
  #accordion {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 25%;
  }
  #aboutTextDiv {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 25%;
  }
  .aboutP {
    padding: .25em;
    text-align: left;
  }



}



/* Muaz Style for Media Players */
audio, video {
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    vertical-align: top;
    width: 100%;
}
input {
    border: 1px solid #d9d9d9;
    border-radius: 1px;
    font-size: 2em;
    margin: .2em;
    width: 30%;
}
select {
    border: 1px solid #d9d9d9;
    border-radius: 1px;
    height: 50px;
    margin-left: 1em;
    margin-right: -12px;
    padding: 1.1em;
    vertical-align: 6px;
    width: 18%;
}
/* .setup {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    font-size: 102%;
    height: 47px;
    margin-left: -9px;
    margin-top: 8px;
    position: absolute;
} */
p { padding: .5em; }
/* li {
    border-bottom: 1px solid rgb(189, 189, 189);
    border-left: 1px solid rgb(189, 189, 189);
    padding: .5em;
} */
